@import 'bulma/css/bulma.css';

body {
    background-color: violet;
    
}

.textBox {  
  width: 130px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;

}

.centered {
  text-align: center;
  padding-bottom: 20px;
}

h1 {
    color: yellow;
    font-size: 40px;
    font-family: cursive;
}

.card {
    background-color: green;
   /* max-height: 400px; */
}
.box {
    background-color: rgba(233,23,56,1);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
/*
.card .card-image .image img {
    height: 200px;
} */